@use '../util' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  background: hsl(var(--background));
  color: hsl(var(--text));
}

body {
  position: relative;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: rem(1);
  width: rem(1);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
