@use '../util' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  background: hsl(from var(--background) h s l);
  color: hsl(from var(--text) h s l);
}

body {
  position: relative;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: rem(1);
  width: rem(1);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: rem(1320);
  margin-inline: auto;
  padding-block: rem(40);
}
